<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>558135539860-02fao0epi4r4dn27vdkg41cmpd1jlem3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.558135539860-02fao0epi4r4dn27vdkg41cmpd1jlem3</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>558135539860-q74r51gr1261gdl219l1rkg0u40hhjhs.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCERDap1wKGrfxAx2-Fl-AjXn8tBpWuU_0</string>
	<key>GCM_SENDER_ID</key>
	<string>558135539860</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.smartBazar</string>
	<key>PROJECT_ID</key>
	<string>smart-bazar-6fbdc</string>
	<key>STORAGE_BUCKET</key>
	<string>smart-bazar-6fbdc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:558135539860:ios:b7dea1e913c77588309c81</string>
</dict>
</plist>